.slider {
  display: flex;
  align-items: center;
}

.slider-image {
  width: 300px;
  height: 200px;
}

.slider-pointer-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.slider-pointer {
  background: black;
  width: 20px;
  height: 5px;
}
