@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}

.children {
  border: 1px solid #fff;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.centered-box {
  width: 200px;
  height: 100px;
  border: 1px solid;
  text-align: center;
  border-radius: 0.5rem;
  line-height: 70px;
}
