@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}

.children {
  border: 1px solid #fff;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  border-radius: 0.5rem;
  outline: white;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.document {
  border: 2px solid black;
  min-height: 200px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.blue {
  background-color: aqua;
  color: black;
  width: fit-content;
}
