@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 400px;
}

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  border-bottom: 1px solid;
  cursor: pointer;
  padding: 0.5rem 0;
}

.options {
  min-height: 100px;
  position: relative;
  background-color: #fff;
  color: #000;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.option-items {
  position: absolute;
  top: 10px;
  padding: 4px 4px;
  width: 85%;
}

.option-item {
  padding: 0.5rem;
  cursor: pointer;
}

.option-item:hover {
  background-color: #f2f2f2;
}
